name: C Tests

on:
  push:
    branches:
      - "**"
  pull_request:
    branches:
      - main

jobs:
  test:
    name: Run unit tests
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: ast test
        run: |
          make ast-test

      - name : semantic test
        run : |
          make semantic-test

